.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 65%;
}

@media only screen and (max-width: 1000px) {
}
