.main {
  display: flex;
  justify-content: center;
  font-family: Consolas;
  font-size: 26px;
  color: #fff;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .header {
    display: none;
  }
}

.homeIcon {
  padding: 15px 10px 15px 10px;
}

.headerItems {
  border-style: solid;
}

.headerButton {
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  color: #fff;
}

.headerButton:hover {
  transition: all 0.5s ease;
  text-decoration: underline;
}

.centerInfo {
  width: 100%;
}
